{% extends "base.html" %}

{% block content %}
<h1 class="text-center" style="margin-top: 10px; margin-bottom: 15px;">Все рецепты</h1>
{% if current_user.is_authenticated and current_user.role.id == 2 %}
<div class="d-grid gap-2 col-2 mx-auto" style="float: right;">
  <a class="btn btn-success btn-lg" href="/add_recipe">Добавить рецепт</a>
  <a class="btn btn-success btn-lg" href="/user">Мои рецепты</a>
</div>
{% else %}
<button type="button" class="btn btn-success btn-lg" style="float: right;"
        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Добавить рецепт
</button>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Добавлять рецепт могут только авторизованные пользователи</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <a href="/register">Зарегистрируйтесь</a> или <a href="/login">авторизуйтесь</a> как создатель рецептов.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% for item in recipes %}
<div class="card shadow p-3 mb-5 bg-body rounded" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/img/{{ item.picture_name }}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text" align="justify">{{ item.description }}</p>
        <a class="btn btn-success btn-sm" href="/recipe/{{ item.id }}">Читать дальше</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}