{% extends "base.html" %}

{% block content %}
<h1 class="text-center" style="margin-top: 10px; margin-bottom: 15px;">Мои рецепты</h1>
{% for item in current_user.recipes %}
<div class="card shadow p-3 mb-5 bg-body rounded" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static/img/{{ item.picture_name }}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text" align="justify">{{ item.description }}</p>
        <a class="btn btn-success btn-sm" href="/recipe/{{ item.id }}">Читать дальше</a>
        <a class="btn btn-success btn-sm" href="/edit_recipe/{{ item.id }}">Редактировать</a>
        <a class="btn btn-success btn-sm" href="/recipe/{{ item.id }}">Удалить</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}